<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- Standard logging to console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{dd.MM.yyyy HH:mm:ss} %-5level \(%class:%line\) - %message%n</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="Console"/>
    </root>

</configuration>