<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>org.hotswap.agent.example.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloWorldHotswap</servlet-name>
        <servlet-class>org.hotswap.agent.example.HelloWorldServletHotswap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldHotswap</servlet-name>
        <url-pattern>/helloHotswap</url-pattern>
    </servlet-mapping>

</web-app>