<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- buildNumber will be substituted by maven -->
	<display-name>${project.name} (${buildNumber})</display-name>

	<!-- Filter doesn't work on devserver. A workaround is to access URLs through a module instance -->
	<!-- https://code.google.com/p/googleappengine/issues/detail?id=9859 -->
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>${guice.filter}</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.google.developers.BackendStartupListener</listener-class>
	</listener>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/api/5xx/</location>
	</error-page>

	<!-- https://developers.google.com/appengine/docs/java/config/webxml#Secure_URLs -->
	<!-- this is for forcing https -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>everything</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>

			<url-pattern>/admin/*</url-pattern>

			<!-- https://developers.google.com/appengine/docs/java/config/cron#Securing_URLs_for_Cron -->
			<url-pattern>/cron/*</url-pattern>

			<!-- https://developers.google.com/appengine/docs/java/taskqueue/overview-push#Securing_URLs_for_Tasks -->
			<url-pattern>/_ah/queue/*</url-pattern>

			<!-- https://developers.google.com/appengine/docs/java/mail/receiving -->
			<url-pattern>/_ah/mail/*</url-pattern>

			<!-- https://developers.google.com/appengine/docs/java/mail/bounce -->
			<url-pattern>/_ah/bounce</url-pattern>

			<!-- https://developers.google.com/appengine/docs/java/tools/appstats -->
			<url-pattern>/appstats/*</url-pattern>

		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
